body{
    font-family: "Caveat", cursive;
    background:rgb(161, 161, 223);
    color: white;
    margin: 0px;
    margin-bottom: 100px;

}
.chamada{
    background: rgb(161, 231, 161);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;

}
header{
    font-size: 40px;
    color:white;
    border-bottom: 3px solid white;
    padding: 20px;

}
h1{
    font-size: 35px;
}
.chamada-texto{
    margin-right: 5%;
}

.categoria{
padding-left: 20px;
padding-left: 20px;
margin-top: 50px;
}
.categoria-videos{
    overflow-x: auto;
    display: flex;
    gap: 10px;
}

.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solied white

}